# O time pode revisar PRs, equivalente ao "+1" no Gerrit

# Os líderes têm autoridade máxima para aprovar PRs e permitir merge (+2 no Gerrit)

# LuigiBrosss é responsável pela pasta Editor/


Editor/ @LuigiBrosss 
Base/ @lucasvieirabrit
